.icon-contain {
  text-align: center;
  font-size: 160px;
  margin: 10px auto 15px auto;
}

.social-media.fixed {
  width: 160px;
  margin-left: 13.5px;
}

.ifc-down4 {
  margin: 0 auto;
}

#back-to-top {
  font-size: 24px;
}


/* The below isn't working for some reason */
#back-to-top i {
  margin-right: 2px;
  font-size: 24px
}

#footer p {
  font-size: 17px;
}


#mobile-menu {
  background-color: #3b414e;
}

#mobile-menu li a {
 text-align: center;
}

#resumet {
  font-size: 72px;
  line-height: 90px;
  color: white;
  font-family: 'Oswald', sans-serif;
  font-weight: normal;
}